.THIS.white-link:link {
    color: #ffffff !important;
    text-decoration: underline !important;
}

.THIS.white-link:visited {
    color: #ffffff !important;
    text-decoration: underline !important;
}