.THIS {
    padding-bottom: 40px;
}

.THIS .article-content .meta-data {
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 7px;
  text-transform: uppercase;
  color: #666666;
}


.THIS h1.heading-xlarge {
    color: #313131;
  font-family: inherit;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.THIS h1.heading-xlarge.light {
  font-weight: 300;
}

@media screen and (min-width: 641px) {
  .THIS h1.heading-xlarge {
    margin-top: 0;
    font-size: 48px;
  }
}

.THIS blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 20px;
  padding: 0.5em 10px;
}
.THIS blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

/* Menu background where  no header image */

.THIS.menu-background {
    height: 190px;
    background-color: #9B1A47;
    width: 100%;
}


/* Header Image */

/* Title area for header image */
.THIS .meta-data {
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 7px;
  text-transform: uppercase;
  color: #ffffff;
}

.THIS.news-header-image header.page-header h1 {
    color: #ffffff;
    max-width: 830px;
    margin-bottom: 0.2em;
    line-height: 1;
}

@media screen and (max-width: 600px) {
    
    .THIS.news-header-image header.page-header h1.heading-xlarge {
        font-size: 36px;
    }
}

.THIS.news-header-image header.page-header p.lede {
    color: #ffffff;
    font-weight: 400;
    max-width: 830px;
    font-size: 20px;
}

.THIS.news-header-image header#global-header {
    position: absolute;
    top: 0;
    background: transparent;
}

.THIS.news-header-image #main-content {
    padding-top: 0;
}

.THIS.news-header-image {
    z-index: 10;
}

.THIS.news-header-image header.page-header {
    padding-top: 190px;
    background: #9B1A47;
    float: left;
    width: 100%;
    padding-bottom: 50px;
    color: #FFF;
}

.THIS.news-header-image header.page-header .center-blk {
    z-index: 10;
}

.THIS.news-header-image header.page-header .heading-xxlarge {
    color: inherit;
}

.THIS.news-header-image header.home-header {
    padding-bottom: 30px;
}

@media screen and (min-height: 600px) {
    .THIS.news-header-image header.home-header {
        padding-top: calc(200px + 8vh);
    }
}

@media screen and (min-width: 1024px) {
    .THIS.news-header-image header.home-header {
        padding-bottom: calc(80px + 1vh);
    }
}

.THIS.news-header-image header.home-header .column-half {
    padding: 0;
    margin-bottom: 0;
}

.THIS.news-header-image header.home-header .column-half .inset-blk {
    max-width: 500px;
}

@media screen and (min-width: 641px) {
    .THIS.news-header-image header.home-header .column-half .inset-blk {
        width: 90%;
        max-width: 500px;
        float: right;
    }
}